extends ../layouts/main.pug

block title
  title Contact
  
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 Contact
          p.
            Pop-up deep v cliche williamsburg four dollar toast bushwick butcher edison bulb chartreuse cardigan twee pickled pabst tbh blog. Street art portland hashtag, polaroid raw denim try-hard humblebrag chia gluten-free artisan celiac cred listicle. Forage humblebrag selfies tumblr echo park, cornhole tofu art party tattooed iPhone fingerstache prism DIY knausgaard. Tacos fingerstache ennui bespoke activated charcoal skateboard kitsch polaroid. Tumeric synth letterpress, venmo artisan lyft shaman. Waistcoat paleo blog vaporware forage, butcher twee tumeric shabby chic iceland edison bulb hexagon. Heirloom meh brooklyn kinfolk subway tile art party. Offal knausgaard single-origin coffee, raw denim try-hard hoodie squid fanny pack keytar fam. Yuccie fingerstache iceland, whatever actually cray activated charcoal photo booth brooklyn thundercats narwhal gentrify master cleanse authentic distillery. Photo booth try-hard kogi, slow-carb fixie craft beer tbh yr taxidermy quinoa gochujang fanny pack.
        div(class="col-md-4")
          img(src="https://www.atomix.com.au/media/2015/06/atomix_user31.png")
