extends ../layouts/main.pug

block title
  title Projects
  
block content
  div(class="container projects-page show-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-12")
          h1 Show Project
          p.
            Skateboard beard humblebrag, hammock distillery celiac flexitarian farm-to-table live-edge gochujang bicycle rights fingerstache godard. Tacos snackwave tilde, viral godard occupy squid everyday carry. Kitsch hell of prism tumeric authentic typewriter you probably haven't heard of them plaid brooklyn locavore polaroid pinterest farm-to-table wolf. Stumptown vice selfies meh next level brunch mixtape, bicycle rights pop-up activated charcoal tumblr. 8-bit sustainable distillery meh normcore swag poutine readymade franzen waistcoat butcher salvia occupy post-ironic cred. Scenester 90's hashtag pabst photo booth pop-up vaporware tacos put a bird on it 3 wolf moon cronut waistcoat before they sold out fashion axe YOLO. Literally quinoa austin paleo sartorial banh mi, chicharrones gluten-free chambray photo booth. Gentrify next level photo booth twee raw denim selvage freegan mustache cronut salvia letterpress whatever. Bespoke tumblr humblebrag green juice pok pok, before they sold out pabst meggings VHS unicorn gluten-free squid vaporware. Mlkshk etsy echo park, pinterest chillwave wayfarers next level +1 shabby chic four dollar toast. Twee poutine hexagon hot chicken pickled, tofu mustache blue bottle seitan. Tacos austin next level, occupy tattooed schlitz whatever four loko distillery vexillologist celiac. Bitters next level PBR&B viral la croix, cornhole plaid locavore shoreditch dreamcatcher roof party polaroid umami try-hard DIY. Polaroid jean shorts chartreuse air plant, affogato kale chips subway tile.
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/1326405/screenshots/3897327/artboard_4_copy_4.png")
              
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/1326405/screenshots/3897327/artboard_4_copy_4.png")
              
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/1326405/screenshots/3897327/artboard_4_copy_4.png")
              
        div(class="col-md-12")
          img(src="https://cdn.dribbble.com/users/1326405/screenshots/3897327/artboard_4_copy_4.png")
